// Dedicated Server Settings.
// Server IP address - Note: If you have a router, this address is the internal address, and you need to configure ports forwarding
serverIP 0.0.0.0
// Steam Communication Port - Note: If you have a router you will need to open this port.
serverSteamPort 8766
// Game Communication Port - Note: If you have a router you will need to open this port.
serverGamePort 27015
// Query Communication Port - Note: If you have a router you will need to open this port.
serverQueryPort 27016
// Server display name
serverName jammsen-docker-generated-##RANDOM##
// Maximum number of players
serverPlayers 8
// Enable VAC (Valve Anti-cheat System at the server. Must be set off or on
enableVAC off
// Server password. blank means no password
serverPassword
// Server administration password. blank means no password
serverPasswordAdmin
// Your Steam account name. blank means anonymous
serverSteamAccount ###serverSteamAccount###
// Time between server auto saves in minutes - The minumum time is 15 minutes, the default time is 30
serverAutoSaveInterval 30
// Game difficulty mode. Must be set to Peaceful Normal or Hard
difficulty Normal
// New or continue a game. Must be set to New or Continue
initType Continue
// Slot to save the game. Must be set 1 2 3 4 or 5
slot 1
// Show event log. Must be set off or on
showLogs off
// Contact email for server admin
serverContact email@gmail.com
// No enemies
veganMode off
// No enemies during day time
vegetarianMode off
// Reset all structure holes when loading a save
resetHolesMode off
// Regrow 10% of cut down trees when sleeping
treeRegrowMode off
// Allow building destruction
allowBuildingDestruction on
// Allow enemies in creative games
allowEnemiesCreativeMode off
// Allow clients to use the built in debug console
allowCheats off
// Use full weapon damage values when attacking other players
realisticPlayerDamage off
// Allows defining a custom folder for save slots, leave empty to use the default location
saveFolderPath
// Target FPS when no client is connected
targetFpsIdle 0
// Target FPS when there is at least one client connected
targetFpsActive 0